<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{{ app.request.basepath }}/bundles/annonces/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ app.request.basepath }}/bundles/annonces/jquery-ui/jquery-ui.min.css"/>
		<title>{% block title %}{% endblock %} - Site d'annonces</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('annonces_home') }}">Accueil</a></li>
						<li><a href="{{ path('annonces_add') }}">Ajouter une annonce</a></li>
						<li><a href="{{ path('annonces_add_category') }}">Ajouter une catégorie</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if is_granted('ROLE_MEMBER') %}
							<li><a href="{{ path('users_profile') }}">Mon Profil</a></li>
							<li><a href="{{ path('users_signout') }}">Déconnexion</a></li>
						{% else %}
							<li><a href="{{ path('users_signup') }}">Inscription</a></li>
							<li><a href="{{ path('users_signin') }}">Connexion</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
				
			{% for key, messages in app.session.flashbag.all() %}
				{% for message in messages %}
				<div class="alert alert-{{ key }}">
					{{ message }}
				</div>
				{% endfor %}
			{% endfor %}
		    {% block body %}{% endblock %}
		
			<hr>
		
			<footer>
				<script src="{{ app.request.basepath }}/bundles/annonces/bootstrap/js/bootstrap.min.js"></script>
				{% block scripts %}
				{% endblock %}
			</footer>
		</div>
	</body>
</html>
