{% extends 'AnnoncesBundle::layout.html.twig' %}

{% block title %}
Edition de {{ annonce.title }}
{% endblock %}


{% block body %}
	<div class=well>
        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        {{ form_row(form.title) }}
        
        {{ form_row(form.content) }}
        
        {{ form_row(form.prix) }}
        
        {{ form_row(form.category) }}
        
        {{ form_row(form.city) }}
        
        <ul id="photos-edit-mode" class="list-group" data-prototype="{{ form_widget(form.photos.vars.prototype)|escape('html_attr') }}">
        {% for photo in form.photos %}

      	    <li class="list-group-item row" id="photo{{ loop.index0 }}">
      	    	{{ form_errors(photo) }}
      	    	{{ form_widget(photo) }}     
       	        <img class="col-xs-3 thumbnail" src="{{ app.request.basepath ~ '/' ~ annonce.photos.get(loop.index0).uploadDir ~ '/' ~ annonce.photos.get(loop.index0).id ~ '.' ~ annonce.photos.get(loop.index0).url}}">
        	</li> 
  
        {% endfor %}
        </ul>
        
        {{ form_rest(form) }}
        
        {{ form_end(form) }}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ app.request.basepath }}/bundles/annonces/jquery/jquery.min.js"></script>
	<script src="{{ app.request.basepath }}/bundles/annonces/jquery-ui/jquery-ui.min.js"></script>
	<script src="{{ app.request.basepath }}/bundles/annonces/scripts/geonames-request.js"></script>
	<script src="{{ app.request.basepath }}/bundles/annonces/scripts/addPhoto.js"></script>
{% endblock %}

